<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %> 
<body>
    <div class="container-fluid">
        <div class="row">
        <div class="col-3">
            <%- include('../partials/admin_sidebar.ejs') %> 
        </div>
        <div class="col-9">
            <form action="/admin/add-aircraft" method="POST">
                
                <div class="form-group row">
                    <label for="modelName" class="col-sm-2 col-form-label">Model Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="ModelName" class="form-control" id="modelName" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="seatingCapacity" class="col-sm-2 col-form-label">Seating Capacity</label>
                    <div class="col-sm-10">
                        <input type="number" name="SeatingCapacity" class="form-control" id="seatingCapacity" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="noOfAircrafts" class="col-sm-2 col-form-label">No of Aircrafts</label>
                    <div class="col-sm-10">
                        <input type="number" name="NoOfAircrafts" class="form-control" id="noOfAircrafts" required>
                    </div>
                </div>

                <button>Add</button>
            </form>
        </div>
        </div>
    </div>
</body>
</html>