<form action="/admin/add_schedule" method="POST">
    <div class="form-group row mt-5">
        <label for="flightNo" class="col-sm-2 col-form-label">Flight No</label>
         
        <select name="FlightNo" id="flightNo" class="col-sm-10 custom-select">
            <% for(let i = 0; i < flightNoList.length; i++){ %>
                <option><%= flightNoList[i] %> </option>
            <% } %> 
        </select>
    </div>

    <div class="form-group row mt-4">
        <label for="aircraftID" class="col-sm-2 col-form-label">Aircraft ID</label>
        <select name="AircraftID" id="aircraftID" class="col-sm-10 custom-select">
            <% for(let i = 0; i < aircraftIDList.length; i++) { %> 
                <option><%= aircraftIDList[i] %> </option>
            <% } %> 
        </select>
    </div>

    <div class="form-group row mt-4">
        <label for="DepartureDate" class="col-sm-2 col-form-label">Departure Date</label>
        <div class="col-sm-10">
            <input type="date" name="DepartureDate" class="form-control" id="DepartureDate" required>
        </div>
    </div>

    <div class="form-group row mt-4">
        <label for="DepartureTime" class="col-sm-2 col-form-label">Departure Time</label>
        <div class="col-sm-10">
            <input type="time" name="DepartureTime" class="form-control" id="DepartureTime" required>
        </div>
    </div>

    <div class="form-group row mt-4">
        <label for="ArrivalDate" class="col-sm-2 col-form-label">Arrival Date</label>
        <div class="col-sm-10">
            <input type="date" name="ArrivalDate" class="form-control" id="ArrivalDate" required>
        </div>
    </div>

    <div class="form-group row mt-4">
        <label for="ArrivalTime" class="col-sm-2 col-form-label">Arrival Time</label>
        <div class="col-sm-10">
            <input type="time" name="ArrivalTime" class="form-control" id="ArrivalTime" required>
        </div>
    </div>



    <button type="submit" class="mt-5 link link-btn btn btn-primary btn-lg btn-block">Add</button>
</form>