<form action="/admin/flight_statistics" method="POST">
    <div class="form-group row mt-4">
        <label for="Origin" class="col-sm-2 col-form-label">Origin</label>
        <div class="col-sm-10">
            <!-- <input type="text" class="form-control" name="" id=""> -->
            <select name="Origin" id="Origin" class="btn btn-secondary btn-block">
                <% for(let i=0; i < airportCodes.length; i++) { %> 
                    <option><%= airportCodes[i] %> </option>
                <% } %> 
            </select>
        </div>
    </div>

    <div class="form-group row mt-4 mb-5">
        <label for="Destination" class="col-sm-2 col-form-label">Destination</label>
        <div class="col-sm-10">
            <!-- <input type="text" class="form-control" name="" id=""> -->
            <select name="Destination" id="Destination" class="btn btn-secondary btn-block">
                <% for(let i=0; i < airportCodes.length; i++) { %> 
                    <option><%= airportCodes[i] %> </option>
                <% } %> 
            </select>
        </div>
    </div>

    <button type="submit" class="link link-btn btn btn-outline-primary btn-lg btn-block">Generate</button>
</form>