<form action="/admin/passenger_details" method="POST">

    <div class="form-group row mt-5">
        <label for="FlightNo" class="col-sm-2 col-form-label">Flight Number</label>
        <select name="FlightNo" id="flightNo" class="col-sm-10 custom-select">
            <% for(let i = 0; i < flightNoList.length; i++){ %>
                <option><%= flightNoList[i] %></option>
            <% } %> 
        </select>
    </div>

    <button type="submit" class="mt-5 link link-btn btn btn-outline-primary btn-lg btn-block">Generate</button>

</form>