<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link link" href="/admin">
      Profile     
  </a>
  </li>
    <li class="nav-item">
      <a class="nav-link link" href="/admin">
        Dashboard      
    </a>
    </li>
    <li class="nav-item">
      <div class="nav-link link">
          <div>Generate Reports</div>
          <div class="row ml-2">
            <a href="/passenger_details" class="link col-12">Passenger Details</a>
            <a href="/passenger_statistics" class="link col-12">Passenger Statistics</a>
            <a href="/booking_statistics" class="link col-12">Booking Statistics</a>
            <a href="/flight_statistics" class="link col-12">Flight Statistics</a>
            <a href="/revenue_details" class="link col-12">Revenue Details</a>
          </div>
          
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link link" href="/admin/add_aircraft">
          Add a new aircraft
        </a>
    </li>
    <li class="nav-item">
        <a href="/admin/add_airport" class="nav-link link">
            Add a new airport
        </a>
    </li>
    <li class="nav-item">
        <a href="/admin/add_flight" class="nav-link link">
            Add a new flight
        </a>
    </li>
    <li class="nav-item">
      <a href="/admin/add_price" class="nav-link link">
          Add Price
      </a>
  </li>
  </ul>