<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#">
        Dashboard      
    </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
          Generate Reports
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
          Add a new aircraft
        </a>
    </li>
    <li class="nav-item">
        <a href="" class="nav-link">
            Add a new airport
        </a>
    </li>
    <li class="nav-item">
        <a href="" class="nav-link">
            Add a new flight
        </a>
    </li>
  </ul>