<ul class="nav flex-column">

    <li class="nav-item"><i class="fas fa-airplane">
        B Airways
      </i>
    </li>

    <li class="nav-item">
      <i class="fas fa-user">
      <a class="nav-link link" href="/profile">
        Profile     
      </a>
      </i>
    </li>
      <li class="nav-item">
        <i class="fas fa-qrcode">
        <a class="nav-link link" href="/user_dashboard">
          Dashboard      
      </a>
    </i>
      </li>
      <li class="nav-item">
        <i class="fas fa-file">
        <a class="nav-link link" href="/searchFlights">
            Add new booking
          </a>
        </i>
      </li>
    </ul>