<div class="sidebar">

  <header> B Airways </header>

  <ul class="nav flex-column">
    <li class="nav-item">
      <i class="fas fa-user">
      <a class="nav-link link" href="/user/profile">
        Profile     
      </a>
      </i>
    </li>
      <li class="nav-item">
        <i class="fas fa-qrcode">
        <a class="nav-link link" href="/user/dashboard">
          Dashboard      
      </a>
    </i>
      </li>
      <li class="nav-item">
        <i class="fas fa-file">
        <a class="nav-link link" href="/searchFlight">
            Add new booking
          </a>
        </i>
      </li>
  </ul>
</div>

