<div class="sidebar">

  <header class="font-weight-bold"> B Airways </header>

  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link link" href="/user/profile">
        <i class="fas fa-user"></i> Profile     
      </a>
    </li>
      <li class="nav-item">
        
        <a class="nav-link link" href="/user">
          <i class="fas fa-qrcode"></i> Dashboard      
      </a>
      </li>
      <li class="nav-item">
        
        <a class="nav-link link" href="/searchFlight">
            <i class="fas fa-plane"></i> Add new booking
          </a>
      </li>
  </ul>
</div>

