<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %> 
<body>
    <div class="container-fluid">
        <div class="row">
        <div class="col-3">
            <%- include('../partials/admin_sidebar.ejs') %> 
        </div>
        <div class="col-9">
            <%- body %> 
        </div>
        </div>
    </div>
</body>
</html>