<div class="container" style="color: #0b2145; ">
    <h2 class="text-center" style="font-weight: bold; line-height: 4.8rem; font-size: 3rem;">404</h2>
    <h1 class="text-center" style="font-weight: bold;">Page not found</h1>
</div>