<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-7">
            <img
              src="/images/new.jpg"
              alt="Img not found"
              class="login-card-img img-fluid"
            />
          </div>
          <div class="col-md-5">
            <div class="card-body">
              <div class="brand-wrapper">
                <h1>B Airways</h1>
              </div>
              <p class="login-card-description">Login as an Admin</p>
              <form action="/auth_login" method="post">
                <% if(typeof alert != 'undefined') { %>
                <div
                  class="alert alert-warning alert-dismissible fade show"
                  role="alert"
                >
                  <%= alert.msg %>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="alert"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <% } %>
                <div class="form-group">
                  <label for="email" class="sr-only">Email</label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="form-control"
                    placeholder="Email address"
                  />
                </div>
                <div class="form-group mb-4">
                  <label for="password" class="sr-only">Password</label>
                  <input
                    type="password"
                    name="password"
                    id="password"
                    class="form-control"
                    placeholder="Password"
                  />
                </div>
                <input
                  name="login"
                  id="login"
                  class="btn btn-block login-btn mb-4"
                  type="submit"
                  value="Login"
                />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  