<body class="flight-result">
    <h2 class="text-center py-5">Select Your Departure Flights</h2>
    <div class="container">
        <div class="row p-3" id="result-row">
        
            <div class="col-3">
                <div class="time-head">14:30 BAQ</div>
                <div class>21/05/2022</div>
                <div>Barranquilla</div>
                <div class="flight">AA 1124 Airbus A319</div>
            </div>
            
            <div class="col-2"></div>
            <div class="col-3">
                <div class="time-head">02:15 AMD</div>
                <div class>20/05/2022</div>
                <div>Ahamadabad</div>
                <div class="flight">QR 0534 Airbus A320</div>
            </div>
            
            <div class="col-4">
                <a class="select-flight">
                    <span>Economy Class</span>
                    <span>455 USD</span>
                    <span>Total price for all passengers</span> 
                </a>
            </div>
        </div>
    </div>
</div>
</body>