<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

    <body>
        <form action="" method="">
            <div>
                <label for="">Gender</label>
                <select name="" id="">
                    <option value="">Male</option>
                    <option value="">Female</option>
                </select>
            </div>
    
            <div>
                <label for="">First Name</label>
                <input type="text" required>
            </div>
    
            <div>
                <label for="">Last Name</label>
                <input type="text" required>
            </div>
    
            <div>
                <label for="">Date"of Birthday</label>
                <input type="date" name="Date" id="date" required>
                
            </div>

            <button type="submit">Add</button>
    
    
        </form>
        
    </body>
    

</html>
