<div class="">
    <div class="card pay-card">
        <div class="card-body pay-body">
            <div class="row cus-row">
                <span class="header">Payment</span>
                <div class="icons">
                    <img class="pay-image" src="https://img.icons8.com/color/48/000000/visa.png"/>
                    <img class="pay-image" src="https://img.icons8.com/color/48/000000/mastercard-logo.png"/>
                    <img class="pay-image" src="https://img.icons8.com/color/48/000000/maestro.png"/>
                </div>
            </div>

            <form class="payment-form" target="" method="">
                <span class="in-span">Cardholder's name:</span>
                <input class="pay-input" placeholder="Linda Williams">
                <span class="in-span">Card Number:</span>
                <input class="pay-input" placeholder="0125 6780 4567 9909">
                <div class="row cus-row">
                    <div class="col-6 exp"><span class="in-span">Expiry date:</span>
                        <input class="pay-input" placeholder="YY/MM">
                    </div>
                    <div class="col-6 cvv"><span class="in-span">CVV:</span>
                        <input class="pay-input" id="cvv">
                    </div>
                </div>

                <button class="btn pay-btn" type="submit">Confirm</button>
            </form>
                                
        </div>
    </div>
</div>
