<%- include('partials/head') -%> 

<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-7">
            <img src="/images/re-log.jpeg" alt="Img not found" class="login-card-img img-fluid ">
          </div>
          <div class="col-md-5">
            <div class="card-body">
              <div class="brand-wrapper">
                <h1>B Airways</h1>
              </div>
              <p class="login-card-description">Sign into an account</p>
              <form action="/register" method="post">
                <div class="form-group">
                  <label for="fName" class="sr-only">First Name</label>
                  <input type="fName" name="fName" id="fName" class="form-control" placeholder="First Name">
                  <label for="lName" class="sr-only">Last Name</label>
                  <input type="lName" name="lName" id="lName" class="form-control" placeholder="Last Name">
                </div>
                  <div class="form-group">
                    <label for="email" class="sr-only">Email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Email address">
                  </div>
                  <div class="form-group mb-4">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                  </div>
                  <div class="form-group mb-4">
                    <label for="conPassword" class="sr-only">Confirm Password</label>
                    <input type="conPassword" name="conPassword" id="conPassword" class="form-control" placeholder="Confirm Password ">
                  </div>
                  <div class="form-group mb-4">
                    <label for="mobile" class="sr-only">Contact Number</label>
                    <input type="mobile" name="contact" id="mobile" class="form-control" placeholder="Contact Number ">
                  </div>
                  <input name="login" id="login" class="btn btn-block login-btn mb-4" type="submit" value="Sign Up">
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

<%- include('partials/footer') -%> 