body{
    background: #C1D9F8;
    color: #112A53;
    font-family: 'Nunito', sans-serif;
    margin-top: 20px;
}

/* h3{
    color: aliceblue;
} */

.white-text {
    color: aliceblue;
}

.main{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.topbar{
    background-color: teal;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar{
    position: fixed;
    background-color: #25529b;
    color: white;
    width: 320px;
    /* overflow-y: scroll; */
    top: 0;
    bottom: 0;
    /* height: 100%; */
}

.sidebar-a{
    overflow-y:scroll;
}

.sidebar header{
    font-size: 30px;
    color: #C1D9F8;
    text-align: center;
    line-height: 70px;
    background: rgb(14, 35, 78);
    user-select: none;
}

.sidebar ul a{

    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1) ;
    border-bottom: 1px solid black;
    text-decoration: none;
    transition: .4s;
}

ul li :hover a{
    padding-left: 50px;

}

.sidebar ul a i{
    margin-right: 16px;
}



/* body{
margin-top:20px;
} */

.avatar{
width:200px;
height:200px;
}		

.btn-group{
    margin-top: 50px;
    align-items: center;  
}

input[type=button], input[type=submit]{
    border-radius: 5px;
    background-color: #315cd2;
    width: 200px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 20px 20px 20px 40px;
    cursor: pointer;
}

.Psidebar{
    /* height: 150px; */
    background-color: rgb(14, 35, 78);
}

.badge{
    position: relative;
    width: 216px;
    display: inline-block;
    margin: 40px;
}
   
.title{
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 1.7em;
      position: absolute;
      top: -28px;
      border-radius: 8px 8px 0 0;
      text-align: center;
      width: 100%;
      background: red;
      padding: 20px 0;
}
    
.subtitle{
      position: absolute;
      font-family: "Fjalla One", sans-serif;
      font-size: 1.8em;
      width: 100%;
      text-align: center;
      color: white;
      position: absolute;
      top: 100px;
}

after{
          content: "★ ★ ★";
          display: block;
          font-size: .4em;
          position: relative;
          margin: 15px 0 0;
          transition: all .3s;
}
    

hover .subtitle:after{
        word-spacing: 30px; 
}
  

.line-top {
    border-top: 1px solid #af912f;
}

.sub-title {
    color: #af912f;
    font-size: 1.2em;
}

/* .nav-link {
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 1.2em;
} */

.main-title {
    color: #0b2145;
}

.title {
    color: #3C94F8;
}