body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(150deg,rgb(101, 113, 223), rgb(192, 245, 251), rgb(101, 113, 223));
    /* font-size: 0.8rem; */
}

.cont{
    
    background: rgb(126, 126, 126);
    /* background-color: transparent; */
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 60px;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgb(0 0 0 / 20%);
}


  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    /* text-align: center;
    padding: 5px;
    margin: 0; */
    height: 40px;
    width: 40px;
    background-color: #3df321;
    border-radius: 8px;
    border: solid #82f082 2px;
    padding: 2px;
    font-size: 0.9rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  /* On mouse-over, add a grey background color */
  /* .container:hover input ~ .checkmark {
    background-color: rgb(83, 79, 79);
  } */
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color:  rgb(77, 102, 211);
    border: solid rgb(131, 151, 236) 2px;
    color: #fff;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  /* .container input:checked ~ .checkmark:after {
    display: block;
  } */
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .checkmark-booked{
    background-color: crimson;
    border: solid rgb(247, 53, 91) 2px;
    color: #fff;
  }

  .display{
    padding-left: 100px;
    padding-bottom: 30px;
    
  }

  .checkmark-selected{
    background-color:  rgb(77, 102, 211);
    border: solid rgb(131, 151, 236) 2px;
    
  }

  .dis-col{
    /* width: 50%; */
    margin-left: 0;
    padding-left: 0;
  }

  .sub-btn{
    padding: 13px 20px 12px;
    background-color: #6C63FF;
    width: 40%;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
}

.sub-btn:hover{
  border: 1px solid #000;
  background-color: transparent;
  color: #6C63FF;
}
